<template name="signInPopup">
	<div class="popup popup-login">
		<div class="content-block">
			<h4>Sign in to Offer Market</h4>
			<div class="loginform">
				<form id="sign-in-with-email">
					<label>Email or Username:</label>
					<input type="email" name="emailAddress" value="" class="form_input required" placeholder="What's your email?"/>
					<label>Password:</label>
					<input type="password" name="password" value="" class="form_input required" placeholder="How about a password?" />
					<input type="submit" name="submit" class="form_submit btn-sign-in" id="submit" value="Sign In" />					
					<input type="submit" name="submit" class="form_submit btn-create-account" id="submit" value="Create Account" />
				</form>
			</div>
			<div class="close_popup_button_gray"><a href="#" class="close-popup">Close</a></div>
		</div>
	</div>
</template>