<template name="socialPopup">
	<div class="popup popup-social">
	    <div class="content-block">
	      <h4>Social Share</h4>
	      <p>Share icons solution that allows you share and increase your social popularity.</p>
	      <ul class="social_share">
	      <li><a href="#"><img src="images/icons/white/twitter.png" alt="" title="" /></a></li>
	      <li><a href="#"><img src="images/icons/white/facebook.png" alt="" title="" /></a></li>
	      <li><a href="#"><img src="images/icons/white/googleplus.png" alt="" title="" /></a></li>
	      <li><a href="#"><img src="images/icons/white/dribbble.png" alt="" title="" /></a></li>
	      <li><a href="#"><img src="images/icons/white/linkedin.png" alt="" title="" /></a></li>
	      <li><a href="#"><img src="images/icons/white/pinterest.png" alt="" title="" /></a></li>
	      </ul>
	      <div class="close_popup_button"><a href="#" class="close-popup">Close</a></div>
		    </div>
	</div>
</template>