<template name="layoutDefault">	
	<div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    
    {{>panel}}

	<div class="views">
		<div class="view view-main">
	        <div class="navbar">
				<div class="navbar-inner">
	            	<div class="center sliding">
	            		<div class="logo_title">Offer Market</div>
	            	</div>
	            	<div class="right menu_open_icon">
	            		<a href="#" data-panel="left" class="link icon-only open-panel"></a>
	            	</div>
	          	</div>
	        </div>

	        <div class="pages navbar-through toolbar-through">
				{{>yield}}	          
	        </div>     
	        
			{{>toolbar}}        

		</div>
	</div>	    
    <!-- Login Popup -->
    {{>signInPopup}}
    
    <!-- Services Popup -->
    {{>socialPopup}}
</template>
